<!--<h1>Не забудь, сынок!</h1>
<p><h3>...о самом важном в твоей бесполезной жизни</h3><br> </p>
-->
<h1>Запись</h1>
<h3>н приём</h3>

<script type="text/javascript"> 
$(function(){
$('#aaa').css('backgroung-color','yellow');
$('#bbb').css('backgroung-color','blue');
$('#color').simplecolorpicker();
});
</script>


<form action="/visit" method="POST" role="form">

<div class="form-group"> 
<label>Ваше имя</label>
<input name="username" type="text" class="form-control" placeholder="Ваше имя">
</div>

<div class="form-group"> 
<label>Ваш телефон</label>
<input id="aaa" name="phone" type="text" class="form-control" placeholder="Ваш телефон">
</div>

<div class="form-group"> 
<label>Когда вас ждать?</label>
<input id="bbb" name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
</div>


<div class="form-group"> 
<label>Ваш парикмахкер:</label>
  <select name="barber" class="form-control">
    <option>Jessie Pinkman</option>
    <option>Walter White</option>
    <option>Gus Fring</option>
  </select>
</div>




  <div class="form-group"> 
  <label>В какие цвета хотите себя окрасить?</label>
  <select id="color" name="color">
    <option value="#7bd148">Green</option>
    <option value="#5484ed">Bold blue</option>
    <option value="#a4bdfc">Blue</option>
    <option value="#46d6db">Turquoise</option>
    <option value="#7ae7bf">Light green</option>
    <option value="#51b749">Bold green</option>
    <option value="#fbd75b">Yellow</option>
    <option value="#ffb878">Orange</option>
    <option value="#ff887c">Red</option>
    <option value="#dc2127">Bold red</option>
    <option value="#dbadff">Purple</option>
    <option value="#e1e1e1">Gray</option>
  </select>
  </div>






<button type="submit" class="btn btn-primary">Записаться</button>
</form>
<!-- 
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>То, что мне надо</th>
          <th>То, что мне <b>не</b> надо</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ruby</td>
          <td>Наркотики</td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Linux/terminal</td>
          <td>Безделие</td>
          
        
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>English</td>
          <td>Игры</td>
          
        </tr>
      </tbody>
    </table>
    <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
    <h4>Никогда не опускай руки, унылая какашка</h4>
    <p>И если ты найдешь в себе силы, все будет<code> ЗАЕБИСЬ </code> ну а пока, закрывай вкладку и продолжай учиться</p>
  </div>
    <button type="button" class="btn btn-warning">Спасибо!!!!</button>
 -->